Repository googleapis/nodejs-language, pull requests merged in 2020-11, with the labels that each got.

#525 build(node): add KOKORO_BUILD_ARTIFACTS_SUBDIR to env
  .kokoro/trampoline_v2.sh
  synth.metadata
Labels: api: language, automerge, cla: yes, context: full

#528 fix: do not modify options object, use defaultScopes
  package.json
  src/index.ts
  src/v1/language_service_client.ts
  src/v1beta2/language_service_client.ts
  synth.metadata
  system-test/fixtures/sample/src/index.ts
  system-test/install.ts
Labels: api: language, automerge, cla: yes

#531 build: adds gapic_metadata.json; bug fix to generator
  protos/protos.json
  src/v1/gapic_metadata.json
  src/v1/language_service_client.ts
  src/v1beta2/gapic_metadata.json
  src/v1beta2/language_service_client.ts
  synth.metadata
Labels: api: language, cla: yes, context: none

#532 docs: spelling correction for "targetting"
  README.md
  synth.metadata
Labels: api: language, automerge, cla: yes, context: full
